html, body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    width: 100;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    color: white;
    min-height: 40vh;
    width: 100%;
    background: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* this is the navigation bar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .fa-solid {
    display: none;
}
.pages{
    flex: 1;
    text-align: right;
    margin-right: 5%;
}
.pages ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.pages ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
.pages ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.pages ul li:hover::after{
    width: 100%;
}
/* Donation page items */
.random{

    
}
.random .dona form{
    background-color: #E7DDFF;
    left: 38%;
    top: 35%;
    width: 25%;
    height: 50vh;
    position: relative;
}
.random .dona form div label{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
}
.random .dona form input[type="text"]{
    width: 90%;
    padding: 12px;
    margin: 30px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.random .dona form div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.random .dona form div button{
    height: 10vh;
    width: 33%;
    display: block;
    border-radius: 5px;
}
.random .dona form .di{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.381);
    height: 10vh;
    width: 100%;
}

/* contact*/
.contact {
    bottom: 100%;
    background-color: #000000;
    width: 100%;
    height: 50vh;
}
.contact div hr{
    color: #fff;
    width: 100%;
}
.contact div nav ul li a i{
    margin-top: 100%;
    font-size: 50px;
}
.contact div nav ul li a{
    color: #FFFFFF;
}
.contact div nav ul{
    list-style: none;
}
/* @media screen and(max-width: 481px) {
    .slogan{
        font-size: 200px;
        width: 90%;
        color: #FFFFFF;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}
@media screen and(min-width: 480px){
    .slogan h2{
        font-size: 20px;
    }
    .pages{
        position: absolute;
        background: #E7DDFF;
        height: 100vh;
        width: 20px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

} */









