/* Comment my changes section: 
2025-09-28:  Made the title bigger and centered it, 
improved the style of the mobile viewport.
Started working on the other pages of the website(Donate section and goals).
Must update partner on changes and ask her what to add next. */


/* the Update was a success but now our task is to make the title 
of the website look more appealing on mobile */

html, body {
    background-color: #FFFFFF;
    overflow-x: hidden;
    width: 100;
}
body {
    margin: 0;
    padding: 0;
}
/*  parent/child format is this: 
<section class=header>
    <navigator>
        <divider>
            <icons>
            <un-ordered list>
                <list items>
    >
    <divider class = slogan>
        <header2>
*/

.header{
    color: white;
    min-height: 70vh;
    width: 100%;
    background: linear-gradient(to right, black , grey  );
    background-position: center;
    background-size: cover;
    position: relative;
}
/* this is the navigation bar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .fa-solid {
    display: none;
}
.pages{
    flex: 1;
    text-align: right;
    margin-right: 5%;
}
.pages ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.pages ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
.pages ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.pages ul li:hover::after{
    width: 100%;
}
/*slogan*/
.slogan {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: max-content;
}
.slogan h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 100px;
    margin: 0;
}
.slogan h2 {
    font-size: 18px;
    margin: 0;
}
/* about us div*/
/* Just the section*/
.about {
    margin-top: 30%;
    display: grid;
    place-items: center;
    min-height: 60vh;
    width: 100%;
}
    /* About div reality*/
.about div{
    padding: 1px;
    background-color: #E7DDFF;
    min-height: 60vh;
    width: 50%;
    
    
}
/*Header of the about*/
.about div h2{
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-style: normal;
    font-size: 30px;
    
}
    /*Paragraph of the div*/
.about div p{
    padding: 5px;
    text-align: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-style: normal;
    font-size: 20px;
    
}
/*Contact div*/
.contact {
    margin-top: 30%;
    background-color: #000000;
    width: 100%;
    height: 50vh;
}
.contact div hr{
    color: #fff;
    width: 100%;
}
.contact div nav ul li a i{
    margin-top: 100%;
    font-size: 50px;
}
.contact div nav ul li a{
    color: #FFFFFF;
}
.contact div nav ul{
    list-style: none;
}
@media screen and (max-width: 481px){
    nav .fa-solid {
        display: none;
    }
    .about div p{
        padding: 1px;
        text-align: center;
        font-family: "Fira Sans Condensed", sans-serif;
        font-style: normal;
        font-size: 20%;
    }
}
@media screen and (max-width: 480px) {
    /*Pages or navigator  queries*/
    .pages ul li{
        display: block;
    }
    .pages{
        margin: 0;
        position: absolute;
        background: #E7DDFF;
        height: 100%;
        width: 40%;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .pages ul{
        padding: 15px;
    }
    nav .fa-solid {
        display: block;
        color: #000000;
        margin: 1%;
        font-size: 20px;
        cursor: pointer;
    }
    .slogan h1 {
        font-size: 60px;
    }
    .slogan h2 {
        font-size: 15px;
    }
    /* Header or title (Aequitas) */
    /*ABout us divider, */
    .about div{
        width: 80%;
    }
    .about div h2{
        text-align: center;
        font-family: "Fira Sans Condensed", sans-serif;
        font-style: normal;
        font-size: 20px;
    
    }
    .about div p{
        padding: 3px;
        text-align: center;
        font-family: "Fira Sans Condensed", sans-serif;
        font-style: normal;
        font-size: 10px;
    }
    .contact div nav ul li a i{
        margin-top: 100%;
        font-size: 20px;
    }
    
}













































